{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js">
    Stripe.setPublishableKey('pk_test_xa95KeYw084GYIn9lOss6dIK');
    function stripeResponseHandler(status, response) {
        var form$ = $('#payment-form');
        Stripe.card.createToken({
                    number: $('.card-number').val(),
                    cvc: $('.card-cvc').val(),
                    exp_month: $('.card-expiry-month').val(),
                    exp_year: $('.card-expiry-year').val()
                        }, stripeResponseHandler);

    if (response.error) {
        // show the errors on the form
        $form.find(".payment-errors").text(response.error.message);
        $form.find(".submit-button").prop("disabled" , false);
    } else {
        // token contains id, last4, and card type
        var token = response.id;
        // insert the token into the form so it gets submitted to the serverfunction stripeResponseHandler(status, response)
        $form.append($('<input type="hidden" name="stripeToken">').val(token));
        // and submit
        $form.get(0).submit();
    }
};
</script>
{% endblock %}

{% block jquery %}
$(function() {
var $form = $('#payment-form');

$form.submit(function(event){
 $form.find('.submit').prop('disabled' , true);

Stripe.card.createToken($form , stripeResponseHandler);

return false ;
});
});
{% endblock %}
{% block title %}Checkout{% endblock %}

{% block content %}

  <h1>Stripe Custom Form with Stripe.js Example</h1>

  <form action="" method="POST" id="payment-form" >

      {% csrf_token %}
        <!--Cardholder Name-->
        <!--<input type="text" size="20" data-stripe="name"/>-->

        Card Number
        <input type="text" size="20" data-stripe="number"/>

        CVC
        <input type="text" size="4" data-stripe="cvc"/>

        Expiration (MM/YYYY)
        <input type="text" size="2" data-stripe="exp-month"/>
        <input type="text" size="4" data-stripe="exp-year"/>

        <!--Email Address-->
        <!--<input type="text" size = "25" name="emailAddress" />-->

        <!--Shipping Address-->
        <!--<input type="text" size = "3" name="shippingState" data-stripe="address_state" />-->

        <button type="submit">Submit</button>

  </form>

  <span style='color: red' id='payment-error'></span>

{% endblock %}